.h-screen {
    --background: #f9fafb; 
    --text-primary: #000000;
    --toolbar-bg: white;
    --toolbar-border: #e5e7eb;
    --default-stroke: #000000;
}


.dark {
    --background: #151516; 
    --text-primary: #d1d5db; 
    --toolbar-bg: #374151;
    --toolbar-border: #4b5563;
    --default-stroke: #ffffff;
}

.h-screen {
    background-color: var(--background);
    color: var(--text-primary);
}

.dark .bg-white\/80 {
    background-color: rgba(55, 65, 81, 0.8); 
}

.dark .text-stone-700 {
    color: var(--text-primary);
}

.dark .border-stone-200 {
    border-color: var(--toolbar-border);
}

.dark .bg-stone-100 {
    background-color: var(--background);
}